bitstring~=4.1.4
bencodepy~=0.9.5
aioudp~=1.0.1
aiohttp~=3.9.5
yarl~=1.9.3
requests~=2.31.0
geoip2~=4.7.0
upnpclient==1.0.3
crc32c~=2.4
customtkinter~=5.2.2
pillow~=10.2.0
parse-torrent-title==2.8.1
beautifulsoup4~=4.12.2
future~=1.0.0